@font-face {
    font-family: "Minecraft";
    font-style: normal;
    src: url("../fonts/minecraftia.eot?") format("eot"),
	     url("../fonts/minecraftia.woff") format("woff"),
		 url("../fonts/minecraftia.ttf") format("truetype"),
		 url("../fonts/minecraftia.svg#Minecraftia") format("svg");
}

html, body, .page, main {
    height: 100%;
}
body {
	color: #FFFFFF;
	font-family: sans-serif;
}

.hide { display: none; }

/* menu */

#nav {
    background: #000000;
    font-size: 0.9em;
    height: 1.7em;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
#nav .list-inline {
    margin: auto;
	width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}
#nav .list-inline li {
    border-right: 2px solid #FFFFFF;
    display: inline-block;
    font-weight: normal;
    line-height: 1em;
    padding: 0 0.6em;
	margin: 0;
}
#nav .list-inline li a {
    text-decoration: none;
}
#nav .list-inline li.current a, #nav .list-inline li.current a:hover {
    font-weight: bold;
}

/* section */

section {
    height: 100%;
	padding-top: 3em;
	background-image: url("../img/options_background.png");
	background-attachment: fixed;
	background-position: 0px top;
}
h2 {
    display: block;
    height: 92px;
    margin: 2em auto;
    width: 512px;
}
h2 span {
    display: none;
}
.fixe {
    text-align: center;
    margin: auto;
    width: 43em;
    background: rgba(0, 0, 0, 0.64);
    padding: 3em;
}

/* section Home */

#Home {
    background-image: url("../panorama/panorama_480_1.png"), url("../panorama/panorama_480_2.png"), url("../panorama/panorama_480_3.png"), url("../panorama/panorama_480_4.png"), url("../panorama/panorama_480_1.png");
    background-position: 0 center, 600px center, 1200px center, 1800px center, 2400px center;
    background-repeat: no-repeat;
    background-size: auto 480px;
    text-align: center;
}
@media ( min-height: 480px) {
	#Home {
		background-image: url("../panorama/panorama_768_1.png"), url("../panorama/panorama_768_2.png"), url("../panorama/panorama_768_3.png"), url("../panorama/panorama_768_4.png"), url("../panorama/panorama_768_1.png");
		background-position: 0 center, 961px center, 1922px center, 2883px center, 3844px center;
		background-size: auto 768px;
	}
}
@media ( min-height: 768px) {
	#Home {
		background-image: url("../panorama/panorama_976_1.png"), url("../panorama/panorama_976_2.png"), url("../panorama/panorama_976_3.png"), url("../panorama/panorama_976_4.png"), url("../panorama/panorama_976_1.png");
		background-position: 0 center, 1221px center, 2442px center, 3663px center, 4884px center;
		background-size: auto 976px;
	}
}
@media ( min-height: 976px) {
	#Home {
		background-image: url("../panorama/panorama_976_1.png");
		background-position: center center;
		background-size: cover;
	}
}
#Home h2 { background-image: url("../img/logo.png"); }

.button.dl {
    background: url("../img/pack.png") no-repeat 0 0 / 100% auto;
    display: inline-block;
    height: 13em;
    margin: 2em;
    width: 13em;
}

@-moz-keyframes pulse {
	0%, 100% {
		-webkit-transform: scale(1) rotate(-10deg);
		   -moz-transform: scale(1) rotate(-10deg);
			-ms-transform: scale(1) rotate(-10deg);
			  o-transform: scale(1) rotate(-10deg);
				transform: scale(1) rotate(-10deg);
	}
	50% {
		-webkit-transform: scale(1.1) rotate(-10deg);
		   -moz-transform: scale(1.1) rotate(-10deg);
			-ms-transform: scale(1.1) rotate(-10deg);
			  o-transform: scale(1.1) rotate(-10deg);
				transform: scale(1.1) rotate(-10deg);
	}
}

.button.dl span.splash {
	-webkit-animation: 1s ease-in-out 0s alternate none infinite pulse;
	   -moz-animation: 1s ease-in-out 0s alternate none infinite pulse;
	    -ms-animation: 1s ease-in-out 0s alternate none infinite pulse;
	      o-animation: 1s ease-in-out 0s alternate none infinite pulse;
	        animation: 1s ease-in-out 0s alternate none infinite pulse;
    color: #FFFF00;
    font-family: "Minecraft" !important;
    margin-left: -24px;
    margin-top: 147px;
    position: absolute;
    text-shadow: 4px 4px 1px #3F3F00;
    font-size: 20px;
	-webkit-transform: rotate(-10deg);
	   -moz-transform: rotate(-10deg);
	    -ms-transform: rotate(-10deg);
	      o-transform: rotate(-10deg);
	        transform: rotate(-10deg);
}


/* section image */

#Image h2 { background-image: url("../img/images.png"); }

.flexslider {
    border: 1px solid;
    margin: 0 auto 3em;
    width: 80%;
	max-width: 961px;
}
.flex-control-nav {
    bottom: 0;
}


